<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>More</key>
	<array>
		<dict>
			<key>name</key>
			<string>Feedback</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>History</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Setting</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rate app</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<key>Hiragana</key>
	<array>
		<dict>
			<key>hiragana</key>
			<string>あ</string>
			<key>romanji</key>
			<string>a</string>
			<key>image</key>
			<string>hiragana_a.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>い</string>
			<key>romanji</key>
			<string>i</string>
			<key>image</key>
			<string>hiragana_i.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>う</string>
			<key>romanji</key>
			<string>u</string>
			<key>image</key>
			<string>hiragana_u.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>え</string>
			<key>romanji</key>
			<string>e</string>
			<key>image</key>
			<string>hiragana_e.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>お</string>
			<key>romanji</key>
			<string>o</string>
			<key>image</key>
			<string>hiragana_o.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>か</string>
			<key>romanji</key>
			<string>ka</string>
			<key>image</key>
			<string>hiragana_ka.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>き</string>
			<key>romanji</key>
			<string>ki</string>
			<key>image</key>
			<string>hiragana_ki.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>く</string>
			<key>romanji</key>
			<string>ku</string>
			<key>image</key>
			<string>hiragana_ku.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>け</string>
			<key>romanji</key>
			<string>ke</string>
			<key>image</key>
			<string>hiragana_ke.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>こ</string>
			<key>romanji</key>
			<string>ko</string>
			<key>image</key>
			<string>hiragana_ko.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>さ</string>
			<key>romanji</key>
			<string>sa</string>
			<key>image</key>
			<string>hiragana_sa.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>し</string>
			<key>romanji</key>
			<string>shi</string>
			<key>image</key>
			<string>hiragana_shi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>す</string>
			<key>romanji</key>
			<string>su</string>
			<key>image</key>
			<string>hiragana_su.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>せ</string>
			<key>romanji</key>
			<string>se</string>
			<key>image</key>
			<string>hiragana_se.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>そ</string>
			<key>romanji</key>
			<string>so</string>
			<key>image</key>
			<string>hiragana_so.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>た</string>
			<key>romanji</key>
			<string>ta</string>
			<key>image</key>
			<string>hiragana_ta.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ち</string>
			<key>romanji</key>
			<string>chi</string>
			<key>image</key>
			<string>hiragana_chi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>つ</string>
			<key>romanji</key>
			<string>tsu</string>
			<key>image</key>
			<string>hiragana_tsu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>て</string>
			<key>romanji</key>
			<string>te</string>
			<key>image</key>
			<string>hiragana_te.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>と</string>
			<key>romanji</key>
			<string>to</string>
			<key>image</key>
			<string>hiragana_to.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>な</string>
			<key>romanji</key>
			<string>na</string>
			<key>image</key>
			<string>hiragana_na.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>に</string>
			<key>romanji</key>
			<string>ni</string>
			<key>image</key>
			<string>hiragana_ni.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぬ</string>
			<key>romanji</key>
			<string>nu</string>
			<key>image</key>
			<string>hiragana_nu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ね</string>
			<key>romanji</key>
			<string>ne</string>
			<key>image</key>
			<string>hiragana_ne.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>の</string>
			<key>romanji</key>
			<string>no</string>
			<key>image</key>
			<string>hiragana_no.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>は</string>
			<key>romanji</key>
			<string>ha</string>
			<key>image</key>
			<string>hiragana_ha.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ひ</string>
			<key>romanji</key>
			<string>hi</string>
			<key>image</key>
			<string>hiragana_hi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ふ</string>
			<key>romanji</key>
			<string>hu</string>
			<key>image</key>
			<string>hiragana_hu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>へ</string>
			<key>romanji</key>
			<string>he</string>
			<key>image</key>
			<string>hiragana_he.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ほ</string>
			<key>romanji</key>
			<string>ho</string>
			<key>image</key>
			<string>hiragana_ho.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ま</string>
			<key>romanji</key>
			<string>ma</string>
			<key>image</key>
			<string>hiragana_ma.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>み</string>
			<key>romanji</key>
			<string>mi</string>
			<key>image</key>
			<string>hiragana_mi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>む</string>
			<key>romanji</key>
			<string>mu</string>
			<key>image</key>
			<string>hiragana_mu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>め</string>
			<key>romanji</key>
			<string>me</string>
			<key>image</key>
			<string>hiragana_me.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>も</string>
			<key>romanji</key>
			<string>mo</string>
			<key>image</key>
			<string>hiragana_mo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>や</string>
			<key>romanji</key>
			<string>ya</string>
			<key>image</key>
			<string>hiragana_ya.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>yi</string>
			<key>image</key>
			<string>hiragana_mo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゆ</string>
			<key>romanji</key>
			<string>yu</string>
			<key>image</key>
			<string>hiragana_yu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>ye</string>
			<key>image</key>
			<string>hiragana_mo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>よ</string>
			<key>romanji</key>
			<string>yo</string>
			<key>image</key>
			<string>hiragana_yo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ら</string>
			<key>romanji</key>
			<string>ra</string>
			<key>image</key>
			<string>hiragana_ra.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>り</string>
			<key>romanji</key>
			<string>ri</string>
			<key>image</key>
			<string>hiragana_ri.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>る</string>
			<key>romanji</key>
			<string>ru</string>
			<key>image</key>
			<string>hiragana_ru.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>れ</string>
			<key>romanji</key>
			<string>re</string>
			<key>image</key>
			<string>hiragana_re.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ろ</string>
			<key>romanji</key>
			<string>ro</string>
			<key>image</key>
			<string>hiragana_ro.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>わ</string>
			<key>romanji</key>
			<string>wa</string>
			<key>image</key>
			<string>hiragana_wa.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>wi</string>
			<key>image</key>
			<string>hiragana_wi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>う</string>
			<key>romanji</key>
			<string>wu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>image</key>
			<string>hiragana_we.jpg</string>
			<key>romanji</key>
			<string>we</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>を</string>
			<key>romanji</key>
			<string>wo</string>
			<key>image</key>
			<string>hiragana_wo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ん</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>hiragana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>が</string>
			<key>romanji</key>
			<string>ga</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぎ</string>
			<key>romanji</key>
			<string>gi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぐ</string>
			<key>romanji</key>
			<string>gu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>げ</string>
			<key>romanji</key>
			<string>ge</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ご</string>
			<key>romanji</key>
			<string>go</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ざ</string>
			<key>romanji</key>
			<string>za</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>じ</string>
			<key>romanji</key>
			<string>zi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ず</string>
			<key>romanji</key>
			<string>zu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぜ</string>
			<key>romanji</key>
			<string>ze</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぞ</string>
			<key>romanji</key>
			<string>zo</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>だ</string>
			<key>romanji</key>
			<string>da</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぢ</string>
			<key>romanji</key>
			<string>di</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>づ</string>
			<key>romanji</key>
			<string>du</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>で</string>
			<key>romanji</key>
			<string>de</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ど</string>
			<key>romanji</key>
			<string>do</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ば</string>
			<key>romanji</key>
			<string>ba</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>び</string>
			<key>romanji</key>
			<string>bi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぶ</string>
			<key>romanji</key>
			<string>bu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>べ</string>
			<key>romanji</key>
			<string>be</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぼ</string>
			<key>romanji</key>
			<string>bo</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぱ</string>
			<key>romanji</key>
			<string>pa</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぴ</string>
			<key>romanji</key>
			<string>pi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぷ</string>
			<key>romanji</key>
			<string>pu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぺ</string>
			<key>romanji</key>
			<string>pe</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぽ</string>
			<key>romanji</key>
			<string>po</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
	</array>
	<key>Katagana</key>
	<array>
		<dict>
			<key>hiragana</key>
			<string>ア</string>
			<key>romanji</key>
			<string>a</string>
			<key>image</key>
			<string>katakana_a.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>イ</string>
			<key>romanji</key>
			<string>i</string>
			<key>image</key>
			<string>katakana_i.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ウ</string>
			<key>romanji</key>
			<string>u</string>
			<key>image</key>
			<string>katakana_u.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>エ</string>
			<key>romanji</key>
			<string>e</string>
			<key>image</key>
			<string>katakana_e.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>オ</string>
			<key>romanji</key>
			<string>o</string>
			<key>image</key>
			<string>katakana_o.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>カ</string>
			<key>romanji</key>
			<string>ka</string>
			<key>image</key>
			<string>katakana_ka.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>キ</string>
			<key>romanji</key>
			<string>ki</string>
			<key>image</key>
			<string>katakana_ki.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ク</string>
			<key>romanji</key>
			<string>ku</string>
			<key>image</key>
			<string>katakana_ku.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ケ</string>
			<key>romanji</key>
			<string>ke</string>
			<key>image</key>
			<string>katakana_ke.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>コ</string>
			<key>romanji</key>
			<string>ko</string>
			<key>image</key>
			<string>katakana_ko.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>サ</string>
			<key>romanji</key>
			<string>sa</string>
			<key>image</key>
			<string>katakana_sa.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>シ</string>
			<key>romanji</key>
			<string>shi</string>
			<key>image</key>
			<string>katakana_shi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ス</string>
			<key>romanji</key>
			<string>su</string>
			<key>image</key>
			<string>katakana_su.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>セ</string>
			<key>romanji</key>
			<string>se</string>
			<key>image</key>
			<string>katakana_se.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ソ</string>
			<key>romanji</key>
			<string>so</string>
			<key>image</key>
			<string>katakana_so.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>タ</string>
			<key>romanji</key>
			<string>ta</string>
			<key>image</key>
			<string>katakana_ta.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>チ</string>
			<key>romanji</key>
			<string>chi</string>
			<key>image</key>
			<string>katakana_chi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ツ</string>
			<key>romanji</key>
			<string>tsu</string>
			<key>image</key>
			<string>katakana_tsu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>テ</string>
			<key>romanji</key>
			<string>te</string>
			<key>image</key>
			<string>katakana_te.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ト</string>
			<key>romanji</key>
			<string>to</string>
			<key>image</key>
			<string>katakana_to.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ナ</string>
			<key>romanji</key>
			<string>na</string>
			<key>image</key>
			<string>katakana_na.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ニ</string>
			<key>romanji</key>
			<string>ni</string>
			<key>image</key>
			<string>katakana_ni.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヌ</string>
			<key>romanji</key>
			<string>nu</string>
			<key>image</key>
			<string>katakana_nu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ネ</string>
			<key>romanji</key>
			<string>ne</string>
			<key>image</key>
			<string>katakana_ne.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ノ</string>
			<key>romanji</key>
			<string>no</string>
			<key>image</key>
			<string>katakana_no.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ハ</string>
			<key>romanji</key>
			<string>ha</string>
			<key>image</key>
			<string>katakana_ha1.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヒ</string>
			<key>romanji</key>
			<string>hi</string>
			<key>image</key>
			<string>katakana_hi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>フ</string>
			<key>romanji</key>
			<string>hu</string>
			<key>image</key>
			<string>katakana_hu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヘ</string>
			<key>romanji</key>
			<string>he</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ホ</string>
			<key>romanji</key>
			<string>ho</string>
			<key>image</key>
			<string>katakana_ho.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>マ</string>
			<key>romanji</key>
			<string>ma</string>
			<key>image</key>
			<string>katakana_ma.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ミ</string>
			<key>romanji</key>
			<string>mi</string>
			<key>image</key>
			<string>katakana_mi.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ム</string>
			<key>romanji</key>
			<string>mu</string>
			<key>image</key>
			<string>katakana_mu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>メ</string>
			<key>romanji</key>
			<string>me</string>
			<key>image</key>
			<string>katakana_me.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>モ</string>
			<key>romanji</key>
			<string>mo</string>
			<key>image</key>
			<string>katakana_mo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヤ</string>
			<key>romanji</key>
			<string>ya</string>
			<key>image</key>
			<string>katakana_ya.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
			<key>image</key>
			<string>katakana_ya.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ユ</string>
			<key>romanji</key>
			<string>yu</string>
			<key>image</key>
			<string>katakana_yu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
			<key>image</key>
			<string>katakana_yu.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヨ</string>
			<key>romanji</key>
			<string>yo</string>
			<key>image</key>
			<string>katakana_yo.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ラ</string>
			<key>romanji</key>
			<string>ra</string>
			<key>image</key>
			<string>katakana_ra.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>リ</string>
			<key>romanji</key>
			<string>ri</string>
			<key>image</key>
			<string>katakana_ri.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ル</string>
			<key>romanji</key>
			<string>ru</string>
			<key>image</key>
			<string>katakana_ru.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>レ</string>
			<key>romanji</key>
			<string>re</string>
			<key>image</key>
			<string>katakana_re.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ロ</string>
			<key>romanji</key>
			<string>ro</string>
			<key>image</key>
			<string>katakana_ro.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ワ</string>
			<key>romanji</key>
			<string>wa</string>
			<key>image</key>
			<string>katakana_wa.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヰ</string>
			<key>romanji</key>
			<string>wi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
			<key>image</key>
			<string>emptyString
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;emptyString&lt;/string&gt;
&lt;/plist&gt;
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;emptyString&lt;/string&gt;
&lt;/plist&gt;
emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヱ</string>
			<key>romanji</key>
			<string>we</string>
			<key>image</key>
			<string>emptyString
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;emptyString&lt;/string&gt;
&lt;/plist&gt;
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;emptyString&lt;/string&gt;
&lt;/plist&gt;
emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヲ</string>
			<key>romanji</key>
			<string>wo</string>
			<key>image</key>
			<string>katakana_wo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ン</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>katakana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>katakana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>katakana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>katakana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
			<key>image</key>
			<string>katakana_n.jpg</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ガ</string>
			<key>romanji</key>
			<string>ga</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ギ</string>
			<key>romanji</key>
			<string>gi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>グ</string>
			<key>romanji</key>
			<string>gu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゲ</string>
			<key>romanji</key>
			<string>ge</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゴ</string>
			<key>romanji</key>
			<string>go</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ザ</string>
			<key>romanji</key>
			<string>za</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ジ</string>
			<key>romanji</key>
			<string>zi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ズ</string>
			<key>romanji</key>
			<string>zu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゼ</string>
			<key>romanji</key>
			<string>ze</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゾ</string>
			<key>romanji</key>
			<string>zo</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ダ</string>
			<key>romanji</key>
			<string>da</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヂ</string>
			<key>romanji</key>
			<string>di</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヅ</string>
			<key>romanji</key>
			<string>du</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>デ</string>
			<key>romanji</key>
			<string>de</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ド</string>
			<key>romanji</key>
			<string>do</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>バ</string>
			<key>romanji</key>
			<string>ba</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ビ</string>
			<key>romanji</key>
			<string>bi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ブ</string>
			<key>romanji</key>
			<string>bu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ベ</string>
			<key>romanji</key>
			<string>be</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ボ</string>
			<key>romanji</key>
			<string>bo</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>パ</string>
			<key>romanji</key>
			<string>pa</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ピ</string>
			<key>romanji</key>
			<string>pi</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>プ</string>
			<key>romanji</key>
			<string>pu</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ペ</string>
			<key>romanji</key>
			<string>pe</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ボ</string>
			<key>romanji</key>
			<string>po</string>
			<key>image</key>
			<string>emptyString</string>
		</dict>
	</array>
	<key>Objects</key>
	<array>
		<dict>
			<key>Name</key>
			<string>grammar</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/grammar/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>vocabulary</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/vocab/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>listening</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>writing</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Kanji</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Hiragana</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Katakana</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
