<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>Name</key>
			<string>grammar</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT N5 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N4 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N3 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N2 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N1 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/grammar/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>vocabulary</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/vocab/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>listening</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>writing</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Kanji</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Hiragana</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Katakana</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
