<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hiragana</key>
	<array>
		<dict>
			<key>hiragana</key>
			<string>あ</string>
			<key>romanji</key>
			<string>a</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>い</string>
			<key>romanji</key>
			<string>i</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>う</string>
			<key>romanji</key>
			<string>u</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>え</string>
			<key>romanji</key>
			<string>e</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>お</string>
			<key>romanji</key>
			<string>o</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>か</string>
			<key>romanji</key>
			<string>ka</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>き</string>
			<key>romanji</key>
			<string>ki</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>く</string>
			<key>romanji</key>
			<string>ku</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>け</string>
			<key>romanji</key>
			<string>ke</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>こ</string>
			<key>romanji</key>
			<string>ko</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>さ</string>
			<key>romanji</key>
			<string>sa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>し</string>
			<key>romanji</key>
			<string>shi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>す</string>
			<key>romanji</key>
			<string>su</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>せ</string>
			<key>romanji</key>
			<string>se</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>そ</string>
			<key>romanji</key>
			<string>so</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>た</string>
			<key>romanji</key>
			<string>ta</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ち</string>
			<key>romanji</key>
			<string>chi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>つ</string>
			<key>romanji</key>
			<string>tsu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>て</string>
			<key>romanji</key>
			<string>te</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>と</string>
			<key>romanji</key>
			<string>to</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>な</string>
			<key>romanji</key>
			<string>na</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>に</string>
			<key>romanji</key>
			<string>ni</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぬ</string>
			<key>romanji</key>
			<string>nu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ね</string>
			<key>romanji</key>
			<string>ne</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>の</string>
			<key>romanji</key>
			<string>no</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>は</string>
			<key>romanji</key>
			<string>ha</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ひ</string>
			<key>romanji</key>
			<string>hi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ふ</string>
			<key>romanji</key>
			<string>hu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>へ</string>
			<key>romanji</key>
			<string>he</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ほ</string>
			<key>romanji</key>
			<string>ho</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ま</string>
			<key>romanji</key>
			<string>ma</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>み</string>
			<key>romanji</key>
			<string>mi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>む</string>
			<key>romanji</key>
			<string>mu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>め</string>
			<key>romanji</key>
			<string>me</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>も</string>
			<key>romanji</key>
			<string>mo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>や</string>
			<key>romanji</key>
			<string>ya</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>い</string>
			<key>romanji</key>
			<string>yi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゆ</string>
			<key>romanji</key>
			<string>yu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>いぇ</string>
			<key>romanji</key>
			<string>ye</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>よ</string>
			<key>romanji</key>
			<string>yo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ら</string>
			<key>romanji</key>
			<string>ra</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>り</string>
			<key>romanji</key>
			<string>ri</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>る</string>
			<key>romanji</key>
			<string>ru</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>れ</string>
			<key>romanji</key>
			<string>re</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ろ</string>
			<key>romanji</key>
			<string>ro</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>わ</string>
			<key>romanji</key>
			<string>wa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>うぃ</string>
			<key>romanji</key>
			<string>wi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>う</string>
			<key>romanji</key>
			<string>wu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>うぇ</string>
			<key>romanji</key>
			<string>we</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>を</string>
			<key>romanji</key>
			<string>wo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ん</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>emptyString</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>が</string>
			<key>romanji</key>
			<string>ga</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぎ</string>
			<key>romanji</key>
			<string>gi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぐ</string>
			<key>romanji</key>
			<string>gu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>げ</string>
			<key>romanji</key>
			<string>ge</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ご</string>
			<key>romanji</key>
			<string>go</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ざ</string>
			<key>romanji</key>
			<string>za</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>じ</string>
			<key>romanji</key>
			<string>zi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ず</string>
			<key>romanji</key>
			<string>zu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぜ</string>
			<key>romanji</key>
			<string>ze</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぞ</string>
			<key>romanji</key>
			<string>zo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>だ</string>
			<key>romanji</key>
			<string>da</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぢ</string>
			<key>romanji</key>
			<string>di</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>づ</string>
			<key>romanji</key>
			<string>du</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>で</string>
			<key>romanji</key>
			<string>de</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ど</string>
			<key>romanji</key>
			<string>do</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ば</string>
			<key>romanji</key>
			<string>ba</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>び</string>
			<key>romanji</key>
			<string>bi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぶ</string>
			<key>romanji</key>
			<string>bu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>べ</string>
			<key>romanji</key>
			<string>be</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぼ</string>
			<key>romanji</key>
			<string>bo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぱ</string>
			<key>romanji</key>
			<string>pa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぴ</string>
			<key>romanji</key>
			<string>pi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぷ</string>
			<key>romanji</key>
			<string>pu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぺ</string>
			<key>romanji</key>
			<string>pe</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ぽ</string>
			<key>romanji</key>
			<string>po</string>
		</dict>
	</array>
	<key>Katagana</key>
	<array>
		<dict>
			<key>hiragana</key>
			<string>ア</string>
			<key>romanji</key>
			<string>a</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>イ</string>
			<key>romanji</key>
			<string>i</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ウ</string>
			<key>romanji</key>
			<string>u</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>エ</string>
			<key>romanji</key>
			<string>e</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>オ</string>
			<key>romanji</key>
			<string>o</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>カ</string>
			<key>romanji</key>
			<string>ka</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>キ</string>
			<key>romanji</key>
			<string>ki</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ク</string>
			<key>romanji</key>
			<string>ku</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ケ</string>
			<key>romanji</key>
			<string>ke</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>コ</string>
			<key>romanji</key>
			<string>ko</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>サ</string>
			<key>romanji</key>
			<string>sa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>シ</string>
			<key>romanji</key>
			<string>si</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ス</string>
			<key>romanji</key>
			<string>su</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>セ</string>
			<key>romanji</key>
			<string>se</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ソ</string>
			<key>romanji</key>
			<string>so</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>タ</string>
			<key>romanji</key>
			<string>ta</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>チ</string>
			<key>romanji</key>
			<string>ti</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ツ</string>
			<key>romanji</key>
			<string>tu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>テ</string>
			<key>romanji</key>
			<string>te</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ト</string>
			<key>romanji</key>
			<string>to</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ナ</string>
			<key>romanji</key>
			<string>na</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ニ</string>
			<key>romanji</key>
			<string>ni</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヌ</string>
			<key>romanji</key>
			<string>nu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ネ</string>
			<key>romanji</key>
			<string>ne</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ノ</string>
			<key>romanji</key>
			<string>no</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ハ</string>
			<key>romanji</key>
			<string>ha</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヒ</string>
			<key>romanji</key>
			<string>hi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>フ</string>
			<key>romanji</key>
			<string>hu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヘ</string>
			<key>romanji</key>
			<string>he</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ホ</string>
			<key>romanji</key>
			<string>ho</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>マ</string>
			<key>romanji</key>
			<string>ma</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ミ</string>
			<key>romanji</key>
			<string>mi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ム</string>
			<key>romanji</key>
			<string>mu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>メ</string>
			<key>romanji</key>
			<string>me</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>モ</string>
			<key>romanji</key>
			<string>mo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヤ</string>
			<key>romanji</key>
			<string>ya</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ユ</string>
			<key>romanji</key>
			<string>yu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヨ</string>
			<key>romanji</key>
			<string>yo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ラ</string>
			<key>romanji</key>
			<string>ra</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>リ</string>
			<key>romanji</key>
			<string>ri</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ル</string>
			<key>romanji</key>
			<string>ru</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>レ</string>
			<key>romanji</key>
			<string>re</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ロ</string>
			<key>romanji</key>
			<string>ro</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ワ</string>
			<key>romanji</key>
			<string>wa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヰ</string>
			<key>romanji</key>
			<string>wi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>a</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヱ</string>
			<key>romanji</key>
			<string>we</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヲ</string>
			<key>romanji</key>
			<string>wo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ン</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>emptyString</string>
			<key>romanji</key>
			<string>n</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ガ</string>
			<key>romanji</key>
			<string>ga</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ギ</string>
			<key>romanji</key>
			<string>gi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>グ</string>
			<key>romanji</key>
			<string>gu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゲ</string>
			<key>romanji</key>
			<string>ge</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゴ</string>
			<key>romanji</key>
			<string>go</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ザ</string>
			<key>romanji</key>
			<string>za</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ジ</string>
			<key>romanji</key>
			<string>zi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ズ</string>
			<key>romanji</key>
			<string>zu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゼ</string>
			<key>romanji</key>
			<string>ze</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ゾ</string>
			<key>romanji</key>
			<string>zo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ダ</string>
			<key>romanji</key>
			<string>da</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヂ</string>
			<key>romanji</key>
			<string>di</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ヅ</string>
			<key>romanji</key>
			<string>du</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>デ</string>
			<key>romanji</key>
			<string>de</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ド</string>
			<key>romanji</key>
			<string>do</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>バ</string>
			<key>romanji</key>
			<string>ba</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ビ</string>
			<key>romanji</key>
			<string>bi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ブ</string>
			<key>romanji</key>
			<string>bu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ベ</string>
			<key>romanji</key>
			<string>be</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ボ</string>
			<key>romanji</key>
			<string>bo</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>パ</string>
			<key>romanji</key>
			<string>pa</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ピ</string>
			<key>romanji</key>
			<string>pi</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>プ</string>
			<key>romanji</key>
			<string>pu</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ペ</string>
			<key>romanji</key>
			<string>pe</string>
		</dict>
		<dict>
			<key>hiragana</key>
			<string>ボ</string>
			<key>romanji</key>
			<string>po</string>
		</dict>
	</array>
	<key>Objects</key>
	<array>
		<dict>
			<key>Name</key>
			<string>grammar</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT N5 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N4 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N3 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N2 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/grammar/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT N1 Grammar</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/grammar/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>vocabulary</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt5/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt4/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt3/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt2/vocab/</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
					<key>Link</key>
					<string>http://www.tanos.co.uk/jlpt/jlpt1/vocab/</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>listening</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>JLPT Level N5</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>JLPT Level N1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>writing</string>
			<key>Objects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Kanji</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Hiragana</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Katakana</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
